@import url("https://fonts.googleapis.com/css?family=Anton:regular");
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #ffd15b;
  --secondary-color: #1b1b1b;
  --tertiary-color: #7a7a7a;
  --light-grey: #c6c6c6;
  --white-color: #fff;
  --background-color: #ededed;
}

body {
  background-color: var(--background-color);
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-image: url("../assets/images/header-background.webp");
  background-position: center;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    justify-content: center;
  }
}
.header .hero {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  margin-bottom: 9.5vh;
}
.header .hero-title {
  font-family: Anton, sans-serif;
  color: var(--primary-color);
  font-size: clamp(1.375rem, 0.9821rem + 1.9643vw, 2.75rem);
  line-height: normal;
  margin-bottom: 30px;
}
.header .hero-form {
  justify-content: center;
  height: 5vh;
  align-items: center;
  border: none;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header .hero-form {
    width: 120%;
  }
}
.header .hero-form-input {
  outline: none;
  border-radius: 11px;
  color: var(--tertiary-color);
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: normal;
  padding: 24px 80px 26px 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 120px);
}
.header .hero-form-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 10px;
  border: none;
  width: 51px;
  height: 52px;
  right: 71px;
}

.search-input:not(:-moz-placeholder-shown) + .remove-btn {
  display: inline;
}

.search-input:not(:placeholder-shown) + .remove-btn {
  display: inline;
}

.filter {
  margin-top: 22px;
  margin-bottom: 55px;
}
@media screen and (max-width: 992px) {
  .filter {
    flex-direction: column-reverse;
  }
}
.filter-bar {
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .filter-bar {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
.filter-options {
  min-width: 195px;
  position: relative;
  display: inline-block;
  margin: 20px 30px 20px 0;
}
@media screen and (max-width: 768px) {
  .filter-options {
    min-width: 100%;
    margin-right: 0;
  }
}
.filter-button {
  padding: 17px 16px;
  align-items: center;
  border-radius: 11px;
  background: var(--white-color);
  border: none;
  min-width: 195px;
  outline: none;
}
@media screen and (max-width: 768px) {
  .filter-button {
    min-width: 160px;
  }
}
.filter-button:hover {
  background: var(--white-color);
}
.filter .open {
  border-radius: 11px 11px 0 0;
}
.filter .dropdown-menu {
  max-height: 215px;
  overflow-y: auto;
  max-width: 195px;
  z-index: 1;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border: none;
  padding: 15px 0;
}
@media screen and (max-width: 768px) {
  .filter .dropdown-menu {
    max-width: 160px;
  }
}
.filter .dropdown-item {
  font-family: Manrope;
  padding: 9px 16px;
  font-size: 14px;
  min-width: 195px;
  white-space: normal;
  word-wrap: break-word;
}
.filter .dropdown-item:hover {
  background-color: #ffc107 !important;
  color: var(--secondary-color);
}
.filter ::first-letter {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .filter ::first-letter {
    min-width: 160px;
  }
}
.filter .selected-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 21px;
  max-width: 100%;
}
.filter .selected-option {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 17px 18px;
  gap: 60px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}
.filter .selected-option::first-letter {
  text-transform: uppercase;
}
.filter .selected-option i {
  margin-left: 10px;
  cursor: pointer;
}
.filter-number {
  align-self: flex-start !important;
  margin-top: 55px;
  color: var(--secondary-color);
  font-family: Anton, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
}
.filter .form-control {
  margin: 0 15px;
  height: 36px;
  width: 85%;
  width: 163px;
  height: 36px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  height: 36px;
  position: relative;
  padding-right: 30px;
  padding-left: 10px;
}
.filter .search-input {
  display: block;
  width: calc(100% - 30px);
  margin: 0 15px 15px 15px;
}

.recipes {
  margin-bottom: 7vh;
}
.recipes-cards__error-message {
  display: none;
  color: var(--secondary-color);
  font-family: Anton, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
}
.recipes-card {
  margin-bottom: 4.5vh;
}
.recipes .recipe-card {
  height: 731px;
  position: relative;
  border: none;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.recipes .recipe-card__time {
  position: absolute;
  top: 21px;
  right: 22px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 12px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 15px;
  border-radius: 14px;
}
.recipes .recipe-card .card-img-top {
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipes .recipe-card .card-body {
  padding: 32px 25px;
}
.recipes .recipe-card .card-title {
  font-family: Anton, sans-serif;
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  font-weight: 400;
  margin-bottom: 29px;
}
.recipes .recipe-card .card-description__name {
  color: var(--tertiary-color);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.recipes .recipe-card .card-description__text {
  color: var(--secondary-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 76px;
}
.recipes .recipe-card .card-description__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 0;
}
.recipes .recipe-card .card-description__item-ingredients {
  color: var --secondary-color;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.recipes .recipe-card .card-description__item-quantity {
  color: var(--tertiary-color);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}/*# sourceMappingURL=style.css.map */