@import url(https://fonts.googleapis.com/css?family=Anton:regular)
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800)

*
  margin: 0
  padding: 0
  scroll-behavior: smooth

html:focus-within
  scroll-behavior: smooth

ul
  list-style: none

:root
  --primary-color: #ffd15b
  --secondary-color: #1b1b1b
  --tertiary-color: #7a7a7a
  --white-color: #fff
  --background-color: #ededed

body
  background-color: var(--background-color)

img, svg
  max-width: 100%
  height: auto
  vertical-align: middle
  font-style: italic
  background-repeat: no-repeat
  background-size: cover

.header
  // background-image: url(../assets/images/header-background.webp)
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(../assets/images/header-background.webp) lightgray 50% / cover no-repeat
  background-size: cover
  // min-height: 75vh
  // padding-bottom: 80vh
  background-position: center
  // .navbar-brand
  //   margin-top: 50px
  .hero
    margin-top: 12vh
    margin-bottom: 9.5vh
    &-title
      font-family: Anton, sans-serif
      color: var(--primary-color)
      font-size: 44px
      text-align: center
      line-height: normal
      margin-bottom: 30px
    &-form
      justify-content: center
      height: 72px
      border: none
      &-input
        outline: none
        border-radius: 11px
        color: var(--tertiary-color)
        font-family: Manrope, sans-serif
        font-weight: 400
        line-height: normal
        padding: 24px 0 26px 35px
        // &:placeholder
        //   color: var(--tertiary-color)
        //   font-family: Manrope, sans-serif
        //   font-weight: 400
        //   line-height: normal
      &-button
        background-color: var(--secondary-color)
        color: var(--white-color)
        border-radius: 10px
        border: none
        width: 51px
        height: 52px
        left: -65px
        top: 10px

.filter
  margin-top: 22px
  margin-bottom: 55px
.card-img-top
  height: 253px
  object-fit: cover
.card-body
  padding: 32px 25px
.card-title
  font-family: Anton, sans-serif
  font-size: 18px
  font-style: normal
  font-weight: 400
  line-height: normal
  margin-bottom: 29px
.card-description__name
  color: var(--tertiary-color)
  font-family: Manrope
  font-size: 12px
  font-style: normal
  font-weight: 700
  line-height: normal
  letter-spacing: 1.08px
  text-transform: uppercase
.card-description__text
  color: var(--secondary-color)
  font-family: Manrope
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: normal
.filter-bar
  width: 50%
.form-control
  width: 30%
  padding: 17px 16px
  align-items: center
  border-radius: 11px
  background: var(--white-color)
.filter-number
  float: right
  color: var(--secondary-color)
  font-family: Anton, sans-serif
  font-size: 21px
  font-style: normal
  font-weight: 400
  line-height: normal
.recipe-card
  margin-bottom: 4.5vh
.recipes-card
  margin-bottom: 4.5vh
  max-width: 380px
.recipe-card
  position: relative
  border: none
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04)
.recipe-card__time
  position: absolute
  top: 21px
  right: 22px
  background-color: var(--primary-color)
  color: var(--secondary-color)
  font-size: 12px
  font-family: Manrope, sans-serif
  font-style: normal
  font-weight: 400
  line-height: normal
  padding: 5px 15px
  border-radius: 14px

input[type='search']::-webkit-search-cancel-button
  position: absolute
  right: 80px
  top: 0
  width: 13px
  height: 13px
  font-size: 18px
  cursor: pointer

.card-description__list
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: start
  padding: 0
.card-description__item-ingredients
  color: var(--secondary-color)
  font-family: Manrope
  font-size: 14px
  font-style: normal
  font-weight: 500
  line-height: normal
.card-description__item-quantity
  color: var(--tertiary-color)
  font-family: Manrope
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: normal
